@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(245, 246, 248);
}

.customerCard-enter {
  transform: translate(-100%);
}

.customerCard-enter-active {
  transform: translate(0%);
  transition: 0.3s;
}

.customerCard-exit {
  transform: translate(0%);
}

.customerCard-exit-active {
  transform: translate(-100%);
  transition: 0.3s;
}
